# Datasets descargados y otros
*.tar.gz
*.rar

# Modelos entrenados
*.h5

# Imagenes generadas durante el entrenamiento
*.png

# Datasets (MEGA)
/Input/**

#Resultados (MEGA)
/Resultados/**

# Configuracion de otra aplicacion de sincronización
*.ini
/Rubbish/**