# Datasets descargados y otros
*.tar.gz
*.rar

# Modelos entrenados
*.h5

# Imagenes generadas durante el entrenamiento
*.png

# Datasets 
/Input/**

# Configuracion de otra aplicacion de sincronización
desktop.ini